.transparent-nav {
    background-color: transparent !important;
    color: #fff !important;
    /* position: absolute !important; */
    box-shadow: none !important;
}


.fixed-nav {
    color: #000 !important;
    position: fixed !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-top: 0 !important;
}